section.wrapper {
    text-align: center;
}

canvas {
    display: inline;
    outline: 1px solid black;
    max-height: 70vh;
    max-width: 60vw;
    /* background-image: url("../img/BG3.jpg");
    background-position: 5%; */
}

div#modal {
    display: none;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

#main-header {
    background-color: rgb(201 197 198);
    text-align: center;
}

.insdie {
    margin-top: -2%;
}

#title {
    text-align: center;
    margin-top: -51px;
    padding-left: 13%;
    font-family: cursive;
    position: fixed;
    font-size: 27px;
}

.form-style {
    width: 50%;
    height: 90px;
    background-color: #e0dad3;
    margin-left: 19%;
    padding: 7%;
    border-style: dashed;
    border-color: #b9a7a7;
    border-radius: 15px;
    margin-top: 11%;
}

.form-style span {
    width: 100%;
    text-align: center;
    float: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.form-style input.name {
    margin: 0 auto;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    margin-left: 25%;
}

.form-style input.submit {
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    margin-left: 25%;
}

.modal-content {
    background-color: #b0b0b0;
    margin: 14% auto;
    padding: 26px;
    border: 2px solid rgb(0, 0, 0);
    width: 80%;
}

@media only screen and (max-width: 600px) {
    #title {
        text-align: center;
        margin-top: -55px;
        padding-left: -4%;
        margin-left: -1%;
        font-family: cursive;
        position: fixed;
        font-size: 14px;
    }
    .form-style {
        width: 78%;
        height: 90px;
        background-color: #e0dad3;
        margin-left: 3%;
        padding: 7%;
        border-style: dashed;
        border-color: #b9a7a7;
        border-radius: 15px;
        margin-top: 11%;
    }
    .form-style input.name {
        margin: 0 auto;
        width: 54%;
        margin-top: 10px;
        margin-bottom: 20px;
        float: left;
        margin-left: 23%;
    }
    .form-style input.submit {
        width: 34%;
        margin-top: -14px;
        margin-bottom: 20px;
        float: left;
        margin-left: 35%;
    }
    .form-style span {
        width: 100%;
        text-align: center;
        float: left;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
}